<div class="container">
  <!-- No data message -->
  <p *ngIf="policy.length <= 0" class="no-data text-center">There are no policies added yet!</p>

  <!-- POlicy list -->
  <table class="table table-bordered" *ngIf="policy.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Policy Number</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Policy Description</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">DOB</th>
        <th scope="col center">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pol of policy; let i = index">
        <!-- <th scope="row">{{pol._id}}</th> -->
        <td>{{pol.policyNumber}}</td>
        <td>{{pol.policyStartDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{pol.policyEndDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{pol.policyDescription}}</td>
        <td>{{pol.firstName}}</td>
        <td>{{pol.lastName}}</td>
        <td>{{pol.dob | date: 'MM/dd/yyyy'}}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-policy/', pol._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
          <span class="delete" (click)="removePolicy(pol, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>