<div class="row justify-content-center">
  <div class="col-md-4 register-policy">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Policy Number</label>
          <input class="form-control" type="text" formControlName="policyNumber">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.policyNumber.errors?.required">
            Policy Number is required.
          </div>
        </div>
        <div class="form-group">
          <label for="inputName">Policy Start Date</label>
          <input class="form-control" type="date" formControlName="policyStartDate">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.policyStartDate.errors?.required">
            Policy Start Date is required.
          </div>
        </div>
        <div class="form-group">
          <label for="inputName">Policy End Date</label>
          <input class="form-control" type="date" formControlName="policyEndDate">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.policyEndDate.errors?.required">
            Policy End Date is required.
          </div>
        </div>
        <div class="form-group">
          <label for="inputName">Policy Description</label>
          <textarea class="form-control"  formControlName="policyDescription"></textarea>
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.policyDescription.errors?.required">
            Policy Descriptionis required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputName">First Name</label>
          <input class="form-control" type="text" formControlName="firstName">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.firstName.errors?.required">
            First Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputName">Last Name</label>
          <input class="form-control" type="text" formControlName="lastName">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.lastName.errors?.required">
            Last Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputName">DOB</label>
          <input class="form-control" type="date" max="{{todayDate}}" formControlName="dob">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.dob.errors?.required">
            DOB is required.
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
</div>
